.wrapper-article-form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100vw;
  height: 88vh;
  background-color: whitesmoke;
}

.test {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}