.wrapper-button {
  min-height: 20px;
  min-width: 40px;
  width: 170px;
  text-align: center;
  cursor: pointer;

  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 20px;
  color: black;
  -moz-user-select: none;
  user-select: none;

  transition: color 0.5s;

  &:hover {
    color: navajowhite;
  }
}

.wrapper-button-disabled {
  color: #999999;
  cursor: default;

  &:hover {
    color: #999999;
  }
}