.wrapper-checkbox {
  background-color: #dddddd;
  text-align: center;
  padding-top: 7px;
  color: black;
  width: 25px;
  height: 25px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}