doctype html
head
    title вовчок.
    link(rel='icon' type='image/png' href='/favicon.png')
    link(rel='stylesheet' href='admin.css')
body
    #root
    script(type=javascript src='admin.js')
    script(src='http://localhost:34512/livereload.js')
