doctype html
head
    title вовчок.
    link(rel='shortcut icon' type='image/png' href='/favicon.png')
    link(rel='stylesheet' href='signin.css')
    style.
        #root {
            height: 100vh;
        }
body
    #root
    script(type=javascript src='signin.js')
    script(src='http://localhost:34512/livereload.js')
