.wrapper-article-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  background-color: #cccccc;
  transition: background-color 500ms;

  &.selected {
    background-color: #800000;
  }
}