@font-face {
  font-family: 'Comic Nefors';
  src: url('./resources/fonts/ComicNefors-SemiBold.eot');
  src: url('./resources/fonts/ComicNefors-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('./resources/fonts/ComicNefors-SemiBold.woff2') format('woff2'),
  url('./resources/fonts/ComicNefors-SemiBold.woff') format('woff'),
  url('./resources/fonts/ComicNefors-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

